<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this @client from being saved:</h2>

      <ul>
        <% @client.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="m-4">
    <ul class="nav nav-tabs" id="myTab">
      <li class="nav-item">
          <a href="#home" class="nav-link active" data-bs-toggle="tab">Geral</a>
      </li>
      <li class="nav-item">
        <a href="#home_address" class="nav-link" data-bs-toggle="tab">Endereço Residencial</a>
      </li>
      <li class="nav-item">
        <a href="#billing_address" class="nav-link" data-bs-toggle="tab">Endereço de Cobrança</a>
      </li>
      <li class="nav-item">
        <a href="#references" class="nav-link" data-bs-toggle="tab">Referências</a>
      </li>
    </ul>
  
    <div class="tab-content">
      <div class="tab-pane fade show active" id="home">
        <div class="m-3">
          <%= f.label :type_trade_id, "Type of Trade" %><br>
          <%= f.select( :type_trade_id, TypeTrade.order(:name).collect {|c| [c.name, c.id]} , {include_blank: true}, {class: "form-select"} )%>
        </div>

        <div class="m-3">
          <%= f.label :city_id, "Route" %><br>
          <%= f.select( :city_id, City.order(:name).collect {|c| [c.name, c.id]} , {include_blank: true}, {class: "form-select"} )%>
        </div>

        <div class="m-3">
          <%= f.label :cpf %><br>
          <%= f.text_field :cpf, {class: "form-control"} %>
        </div>

        <div class="m-3">
          <%= f.label :name %><br>
          <%= f.text_field :name, {class: "form-control"} %>
        </div>

        <div class="m-3">
          <%= f.label :rg %><br>
          <%= f.text_field :rg, {class: "form-control"} %>
        </div>

        <div class="m-3">
          <%= f.label :birthday %><br>
          <%= f.text_field :birthday, {class: "form-control"} %>
        </div>

        <div class="m-3">
          <%= f.label :fone %><br>
          <%= f.text_field :fone, {class: "form-control"} %>
        </div>

        <div class="m-3">
          <%= f.label :credit_limit %><br>
          <%= f.text_field :credit_limit, {class: "form-control"} %>
        </div>

        <div class="m-3">
          <%= f.label :indication %><br>
          <%= f.text_field :indication, {class: "form-control"} %>
        </div>

        <div class="m-3">
          <%= f.label :status %><br>
          <%= f.text_field :status, {class: "form-control"} %>
        </div>
      </div>

      <div class="tab-pane fade" id="home_address">
        <div class="m-3 row g-3">
          <div class="col-sm-9">
            <%= f.label :home_address, "Address" %><br>
            <%= f.text_field :home_address, {class: "form-control", placeholder: "Address", aria: { label: "Home Address" }} %>
          </div>

          <div class="col-sm">
            <%= f.label :home_number, "Number" %><br>
            <%= f.text_field :home_number, {class: "form-control", placeholder: "Number", aria: { label: "Home Number" }} %>
          </div>

          <div class="col-sm-5">
            <%= f.label :home_complement, "Complement" %><br>
            <%= f.text_field :home_complement, {class: "form-control", placeholder: "Complement", aria: { label: "Home Complement" }} %>
          </div>

          <div class="col-sm-7">
            <%= f.label :home_district, "District" %><br>
            <%= f.text_field :home_district, {class: "form-control", placeholder: "District", aria: { label: "Home District" }} %>
          </div>

          <div class="col-sm-6">
            <%= f.label :home_city, "City" %><br>
            <%= f.text_field :home_city, {class: "form-control", placeholder: "City", aria: { label: "Home City" }} %>
          </div>

          <div class="col-sm-3">
            <%= f.label :home_state, "State" %><br>
            <%= f.text_field :home_state, {class: "form-control", placeholder: "State", aria: { label: "Home State" }} %>
          </div>

          <div class="col-sm-3">
            <%= f.label :home_zip, "Zip-Code" %><br>
            <%= f.text_field :home_zip, {class: "form-control", placeholder: "Zip-Code", aria: { label: "Home Zip-Code" }} %>
          </div>

          <div class="col-sm-12">
            <%= f.label :home_link, "Link" %><br>
            <%= f.text_field :home_link, {class: "form-control", placeholder: "Link", aria: { label: "Home Link Address" }} %>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="billing_address">
        <div class="m-3 row g-3">
          <div class="col-sm-9">
            <%= f.label :billing_address, "Address" %><br>
            <%= f.text_field :billing_address, {class: "form-control", placeholder: "Address", aria: { label: "Billing Address" }} %>
          </div>

          <div class="col-sm">
            <%= f.label :billing_number, "Number" %><br>
            <%= f.text_field :billing_number, {class: "form-control", placeholder: "Number", aria: { label: "Billing Number" }} %>
          </div>

          <div class="col-sm-5">
            <%= f.label :billing_complement, "Complement" %><br>
            <%= f.text_field :billing_complement, {class: "form-control", placeholder: "Complement", aria: { label: "Billing Complement" }} %>
          </div>

          <div class="col-sm-7">
            <%= f.label :billing_district, "District" %><br>
            <%= f.text_field :billing_district, {class: "form-control", placeholder: "District", aria: { label: "Billing District" }} %>
          </div>

          <div class="col-sm-6">
            <%= f.label :billing_city, "City" %><br>
            <%= f.text_field :billing_city, {class: "form-control", placeholder: "City", aria: { label: "Billing City" }} %>
          </div>

          <div class="col-sm-3">
            <%= f.label :billing_state, "State" %><br>
            <%= f.text_field :billing_state, {class: "form-control", placeholder: "State", aria: { label: "Billing State" }} %>
          </div>

          <div class="col-sm-3">
            <%= f.label :billing_zip, "Zip-Code" %><br>
            <%= f.text_field :billing_zip, {class: "form-control", placeholder: "Zip-Code", aria: { label: "Billing Zip-Code" }} %>
          </div>

          <div class="col-sm-12">
            <%= f.label :billing_link, "Link" %><br>
            <%= f.text_field :billing_link, {class: "form-control", placeholder: "Link", aria: { label: "Billing Link Address" }} %>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="references">
        <div class="m-3 row g-3">
          <div class="col-sm-4">
            <%= f.label :references_one_name, "Nome" %><br>
            <%= f.text_field :references_one_name, {class: "form-control", placeholder: "Nome", aria: { label: "References One Name" }} %>
          </div>

          <div class="col-sm-4">
            <%= f.label :references_one_origin, "Origin" %><br>
            <%= f.text_field :references_one_origin, {class: "form-control", placeholder: "Origin", aria: { label: "References One Origin" }} %>
          </div>

          <div class="col-sm-4">
            <%= f.label :references_one_phone, "Phone" %><br>
            <%= f.text_field :references_one_phone, {class: "form-control", placeholder: "Phone", aria: { label: "References One Phone" }} %>
          </div>

          <div class="col-sm-4">
            <%= f.label :references_two_name, "Nome" %><br>
            <%= f.text_field :references_two_name, {class: "form-control", placeholder: "Nome", aria: { label: "References Two Name" }} %>
          </div>

          <div class="col-sm-4">
            <%= f.label :references_two_origin, "Origin" %><br>
            <%= f.text_field :references_two_origin, {class: "form-control", placeholder: "Origin", aria: { label: "References Two Origin" }} %>
          </div>

          <div class="col-sm-4">
            <%= f.label :references_two_phone, "Phone" %><br>
            <%= f.text_field :references_two_phone, {class: "form-control", placeholder: "Phone", aria: { label: "References Two Phone" }} %>
          </div>

          <div class="col-sm-4">
            <%= f.label :references_three_name, "Nome" %><br>
            <%= f.text_field :references_three_name, {class: "form-control", placeholder: "Nome", aria: { label: "References Three Name" }} %>
          </div>

          <div class="col-sm-4">
            <%= f.label :references_three_origin, "Origin" %><br>
            <%= f.text_field :references_three_origin, {class: "form-control", placeholder: "Origin", aria: { label: "References Three Origin" }} %>
          </div>

          <div class="col-sm-4">
            <%= f.label :references_three_phone, "Phone" %><br>
            <%= f.text_field :references_three_phone, {class: "form-control", placeholder: "Phone", aria: { label: "References Three Phone" }} %>
          </div>

        </div>
      </div>
    </div>
  </div>


  <div class="form-group">
    <%= f.submit class: 'btn btn-primary btn-block'  %>
    <%= link_to t('back'), clients_path, class: 'btn btn-default btn-block' %>
  </div>
<% end %>
