<%= form_for(@client) do |f| %>
  <% if @client.errors.any?  %>
    <div style="color: red">
      <h4><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h4>
      <ul>
        <% @client.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end  %>
  
  <div class="m-4">
    <ul class="nav nav-tabs" id="myTab">
      <li class="nav-item">
          <a href="#home" class="nav-link active" data-bs-toggle="tab">Geral</a>
      </li>
      <li class="nav-item">
        <a href="#home_address" class="nav-link" data-bs-toggle="tab">Endereço Residencial</a>
      </li>
      <li class="nav-item">
        <a href="#billing_address" class="nav-link" data-bs-toggle="tab">Endereço de Cobrança</a>
      </li>
      <li class="nav-item">
        <a href="#references" class="nav-link" data-bs-toggle="tab">Referências</a>
      </li>
    </ul>
  
    <div class="tab-content">
      <div class="tab-pane fade show active" id="home">
        <div class="m-3 row g-3">
          <div class="col-sm-12">
            <%= f.label :type_trade_id, Client.human_attribute_name('type_trade') %><br>
            <%= f.select( :type_trade_id, TypeTrade.order(:name).collect {|c| [c.name, c.id]} , {include_blank: true}, {class: "form-select"} )%>
          </div>

          <div class="col-sm-12">
            <%= f.label :city_id, Client.human_attribute_name('route') %><br>
            <%= f.select( :city_id, City.order(:name).collect {|c| [c.name, c.id]} , {include_blank: true}, {class: "form-select"} )%>
          </div>

          <div class="col-sm-12">
            <%= f.label :name, Client.human_attribute_name('name') %><br>
            <%= f.text_field :name, {class: "form-control"} %>
          </div>

          <div class="col-sm-6">
            <%= f.label :cpf, Client.human_attribute_name('cpf') %><br>
            <%= f.text_field :cpf, {class: "form-control"} %>
          </div>

          <div class="col-sm-6">
            <%= f.label :rg, Client.human_attribute_name('rg') %><br>
            <%= f.text_field :rg, {class: "form-control"} %>
          </div>

          <div class="col-sm-6">
            <%= f.label :birthday, Client.human_attribute_name('birthday') %><br>
            <%= f.text_field :birthday, {class: "form-control"} %>
          </div>

          <div class="col-sm-6">
            <%= f.label :fone, Client.human_attribute_name('phone') %><br>
            <%= f.text_field :fone, {class: "form-control"} %>
          </div>

          <div class="col-sm-12">
            <%= f.label :type_payment, Client.human_attribute_name('type_payment') %><br>
            <%= f.select :type_payment, Client.type_payments.keys.collect { |payment| [Client.human_enum_name(:type_payment, payment), payment] }, {include_blank: true}, {class: "form-select"} %>
          </div>

          <div class="col-sm-6">
            <%= f.label :credit_limit, Client.human_attribute_name('credit_limit') %><br>
            <%= f.text_field :credit_limit, {class: "form-control"} %>
          </div>

          <div class="col-sm-6">
            <%= f.label :indication, Client.human_attribute_name('indication') %><br>
            <%= f.text_field :indication, {class: "form-control"} %>
          </div>

          <div class="col-sm-6">
            <%= f.label :status, Client.human_attribute_name('status') %><br>
            <%= f.select :status, Client.statuses.keys.collect { |status| [Client.human_enum_name(:status, status), status] }, {include_blank: true}, {class: "form-select"} %>
          </div>

        </div>

      </div>

      <div class="tab-pane fade" id="home_address">
        <div class="m-3 row g-3">
          <div class="col-sm-9">
            <%= f.label :home_address, Client.human_attribute_name('home_address') %><br>
            <%= f.text_field :home_address, {class: "form-control", placeholder: Client.human_attribute_name('home_address'), aria: { label: "Home Address" }} %>
          </div>

          <div class="col-sm">
            <%= f.label :home_number, Client.human_attribute_name('home_number') %><br>
            <%= f.text_field :home_number, {class: "form-control", placeholder: Client.human_attribute_name('home_number'), aria: { label: "Home Number" }} %>
          </div>

          <div class="col-sm-5">
            <%= f.label :home_complement, Client.human_attribute_name('home_complement') %><br>
            <%= f.text_field :home_complement, {class: "form-control", placeholder: Client.human_attribute_name('home_complement'), aria: { label: "Home Complement" }} %>
          </div>

          <div class="col-sm-7">
            <%= f.label :home_district, Client.human_attribute_name('home_district') %><br>
            <%= f.text_field :home_district, {class: "form-control", placeholder: Client.human_attribute_name('home_district'), aria: { label: "Home District" }} %>
          </div>

          <div class="col-sm-6">
            <%= f.label :home_city, Client.human_attribute_name('home_city') %><br>
            <%= f.text_field :home_city, {class: "form-control", placeholder: Client.human_attribute_name('home_city'), aria: { label: "Home City" }} %>
          </div>

          <div class="col-sm-3">
            <%= f.label :home_state, Client.human_attribute_name('home_state') %><br>
            <%= f.text_field :home_state, {class: "form-control", placeholder: Client.human_attribute_name('home_state'), aria: { label: "Home State" }} %>
          </div>

          <div class="col-sm-3">
            <%= f.label :home_zip, Client.human_attribute_name('home_zip') %><br>
            <%= f.text_field :home_zip, {class: "form-control", placeholder: Client.human_attribute_name('home_zip'), aria: { label: "Home Zip-Code" }} %>
          </div>

          <div class="col-sm-12">
            <%= f.label :home_link, Client.human_attribute_name('home_link') %><br>
            <%= f.text_field :home_link, {class: "form-control", placeholder: "Link", aria: { label: "Home Link Address" }} %>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="billing_address">
        <div class="m-3 row g-3">
          <div class="col-sm-9">
            <%= f.label :billing_address, Client.human_attribute_name('billing_address') %><br>
            <%= f.text_field :billing_address, {class: "form-control", placeholder: Client.human_attribute_name('billing_address'), aria: { label: "Billing Address" }} %>
          </div>

          <div class="col-sm">
            <%= f.label :billing_number, Client.human_attribute_name('billing_number') %><br>
            <%= f.text_field :billing_number, {class: "form-control", placeholder: Client.human_attribute_name('billing_number'), aria: { label: "Billing Number" }} %>
          </div>

          <div class="col-sm-5">
            <%= f.label :billing_complement, Client.human_attribute_name('billing_complement') %><br>
            <%= f.text_field :billing_complement, {class: "form-control", placeholder: Client.human_attribute_name('billing_complement'), aria: { label: "Billing Complement" }} %>
          </div>

          <div class="col-sm-7">
            <%= f.label :billing_district, Client.human_attribute_name('billing_district') %><br>
            <%= f.text_field :billing_district, {class: "form-control", placeholder: Client.human_attribute_name('billing_district'), aria: { label: "Billing District" }} %>
          </div>

          <div class="col-sm-6">
            <%= f.label :billing_city, Client.human_attribute_name('billing_city') %><br>
            <%= f.text_field :billing_city, {class: "form-control", placeholder: Client.human_attribute_name('billing_city'), aria: { label: "Billing City" }} %>
          </div>

          <div class="col-sm-3">
            <%= f.label :billing_state, Client.human_attribute_name('billing_state') %><br>
            <%= f.text_field :billing_state, {class: "form-control", placeholder: Client.human_attribute_name('billing_state'), aria: { label: "Billing State" }} %>
          </div>

          <div class="col-sm-3">
            <%= f.label :billing_zip, Client.human_attribute_name('billing_zip') %><br>
            <%= f.text_field :billing_zip, {class: "form-control", placeholder: Client.human_attribute_name('billing_zip'), aria: { label: "Billing Zip-Code" }} %>
          </div>

          <div class="col-sm-12">
            <%= f.label :billing_link, Client.human_attribute_name('billing_link') %><br>
            <%= f.text_field :billing_link, {class: "form-control", placeholder: Client.human_attribute_name('billing_link'), aria: { label: "Billing Link Address" }} %>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="references">
        <div class="m-3 row g-3">
          <div class="col-sm-4">
            <%= f.label :references_one_name, Client.human_attribute_name('references_one_name') %><br>
            <%= f.text_field :references_one_name, {class: "form-control", placeholder: Client.human_attribute_name('references_one_name'), aria: { label: "References One Name" }} %>
          </div>

          <div class="col-sm-4">
            <%= f.label :references_one_origin, Client.human_attribute_name('references_one_origin') %><br>
            <%= f.text_field :references_one_origin, {class: "form-control", placeholder: Client.human_attribute_name('references_one_origin'), aria: { label: "References One Origin" }} %>
          </div>

          <div class="col-sm-4">
            <%= f.label :references_one_phone, Client.human_attribute_name('references_one_phone') %><br>
            <%= f.text_field :references_one_phone, {class: "form-control", placeholder: Client.human_attribute_name('references_one_phone'), aria: { label: "References One Phone" }} %>
          </div>

          <div class="col-sm-4">
            <%= f.label :references_two_name, Client.human_attribute_name('references_two_name') %><br>
            <%= f.text_field :references_two_name, {class: "form-control", placeholder: Client.human_attribute_name('references_two_name'), aria: { label: "References Two Name" }} %>
          </div>

          <div class="col-sm-4">
            <%= f.label :references_two_origin, Client.human_attribute_name('references_two_origin') %><br>
            <%= f.text_field :references_two_origin, {class: "form-control", placeholder: Client.human_attribute_name('references_two_origin'), aria: { label: "References Two Origin" }} %>
          </div>

          <div class="col-sm-4">
            <%= f.label :references_two_phone, Client.human_attribute_name('references_two_phone') %><br>
            <%= f.text_field :references_two_phone, {class: "form-control", placeholder: Client.human_attribute_name('references_two_phone'), aria: { label: "References Two Phone" }} %>
          </div>

          <div class="col-sm-4">
            <%= f.label :references_three_name, Client.human_attribute_name('references_three_name') %><br>
            <%= f.text_field :references_three_name, {class: "form-control", placeholder: Client.human_attribute_name('references_three_name'), aria: { label: "References Three Name" }} %>
          </div>

          <div class="col-sm-4">
            <%= f.label :references_three_origin, Client.human_attribute_name('references_three_origin') %><br>
            <%= f.text_field :references_three_origin, {class: "form-control", placeholder: Client.human_attribute_name('references_three_origin'), aria: { label: "References Three Origin" }} %>
          </div>

          <div class="col-sm-4">
            <%= f.label :references_three_phone, Client.human_attribute_name('references_three_phone') %><br>
            <%= f.text_field :references_three_phone, {class: "form-control", placeholder: Client.human_attribute_name('references_three_phone'), aria: { label: "References Three Phone" }} %>
          </div>

        </div>
      </div>
    </div>
  </div>


  <div class="form-group">
    <%= f.submit class: 'btn btn-primary btn-block'  %>
    <%= link_to t('back'), clients_path, class: 'btn btn-default btn-block' %>
  </div>
<% end %>
