<p id="notice"><%= notice %></p>

<h1><%= t(".title") %></h1>

<%= link_to t(".new"), new_client_path, class: "btn btn-primary btn-block" %> <br />

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Client.human_attribute_name('city') %></th>
      <th><%= Client.human_attribute_name('name') %></th>
      <th><%= Client.human_attribute_name('fone') %></th>
      <th><%= Client.human_attribute_name('credit_limit') %></th>
      <th><%= Client.human_attribute_name('status') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.city.name %></td>
        <td><%= client.name %></td>
        <td><%= client.fone %></td>
        <td><%= client.credit_limit %></td>
        <td><%= client.status %></td>
        <td><%= link_to t('show'), client %></td>
        <td><%= link_to t('edit'), edit_client_path(client) %></td>
        <td><%= link_to t('destroy'), client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
