<div class="card text-bg-light my-3" style="max-width: 100%">
  <div class="card-header"><%= t('.title') %></div>
  <div class="card-body">
    <h5 class="card-title m-4"><%= @client.name %></h5>
    <div class="m-4">
      <ul class="nav nav-tabs" id="myTab">
        <li class="nav-item">
            <a href="#home" class="nav-link active" data-bs-toggle="tab">Geral</a>
        </li>
        <li class="nav-item">
          <a href="#home_address" class="nav-link" data-bs-toggle="tab">Endereço Residencial</a>
        </li>
        <li class="nav-item">
          <a href="#billing_address" class="nav-link" data-bs-toggle="tab">Endereço de Cobrança</a>
        </li>
        <li class="nav-item">
          <a href="#references" class="nav-link" data-bs-toggle="tab">Referências</a>
        </li>
      </ul>
  
      <div class="tab-content">
        <div class="tab-pane fade show active " id="home">
        
          <div class="mx-3 my-4">
            <div class="row">
              <%= label_tag :type_trade, Client.human_attribute_name('type_trade'), class:"col-sm-2 col-form-label fw-bold" %>
              <div class="col-sm-2">
                <%#= label_tag :type_trade, @client.type_trade&.name, class:"form-control-plaintext" %>
                <%= label_tag :type_trade, @client.type_trade&.name, class:"form-control-plaintext" %>
                
              </div>
            </div>

            <div class="row">
              <%= label_tag :route, Client.human_attribute_name('route'), class:"col-sm-2 col-form-label fw-bold" %>
              <div class="col-sm-10">
                <%= label_tag :route, @client.city&.name, class:"form-control-plaintext" %>
              </div>
            </div>

            <div class="row">
              <%= label_tag :cpf, Client.human_attribute_name('CPF'), class:"col-sm-2 col-form-label fw-bold" %>
              <div class="col-sm-2">
                <%= label_tag :cpf, @client.cpf , class:"form-control-plaintext" %>
              </div>

              <%= label_tag :rg, Client.human_attribute_name('RG'), class:"col-sm-1 col-form-label fw-bold" %>
              <div class="col-sm-2">
                <%= label_tag :rg, @client.rg, class:"form-control-plaintext" %>
              </div>
            </div>

            <div class="row">
              <%= label_tag :birthday, Client.human_attribute_name('birthday'), class:"col-sm-2 col-form-label fw-bold" %>
              <div class="col-sm-2">
                <%= label_tag :birthday, date_br(@client.birthday), class:"form-control-plaintext" %>
              </div>

              <%= label_tag :phone, Client.human_attribute_name('phone'), class:"col-sm-1 col-form-label fw-bold" %>
              <div class="col-sm-2">
                <%= label_tag :phone, @client.fone, class:"form-control-plaintext" %>
              </div>
            </div>

            <div class="row">
              <%= label_tag :type_payment, Client.human_attribute_name('type_payment'), class:"col-sm-2 col-form-label fw-bold" %>
              <div class="col-sm-2">
                <%= label_tag :type_payment, Client.human_enum_name(:type_payment, @client.type_payment.to_sym), class:"form-control-plaintext" %>
              </div>

              <%= label_tag :credit_limit, Client.human_attribute_name('credit_limit'), class:"col-sm-1 col-form-label fw-bold" %>
              <div class="col-sm-1">
                <%= label_tag :credit_limit, @client.credit_limit, class:"form-control-plaintext" %>
              </div>
            </div>

            <div class="row">
              <%= label_tag :indication, Client.human_attribute_name('indication'), class:"col-sm-2 col-form-label fw-bold" %>
              <div class="col-sm-2">
                <%= label_tag :indication, @client.indication, class:"form-control-plaintext" %>
              </div>

              <%= label_tag :status, Client.human_attribute_name('status'), class:"col-sm-1 col-form-label fw-bold" %>
              <div class="col-sm-2">
                <%= label_tag :status, Client.human_enum_name(:status, @client.status.to_sym), class:"form-control-plaintext" %>
              </div>
          </div>
        </div>

      </div>

      <div class="tab-pane fade" id="home_address">

         <div class="m-3 row g-3">
          <div class="row">
            <%= label_tag :home_address, Client.human_attribute_name('home_address'), class:"col-sm-2 col-form-label fw-bold" %>
            <div class="col-sm-2">
              <%= label_tag :home_address, @client.home_address + ', ' + @client.home_number, class:"form-control-plaintext" %>
            </div>
          </div>

          <div class="row">
            <%= label_tag :home_complement, Client.human_attribute_name('home_complement'), class:"col-sm-2 col-form-label fw-bold" %>
            <div class="col-sm-2">
              <%= label_tag :home_complement, @client.home_complement, class:"form-control-plaintext" %>
            </div>
          </div>

          <div class="row">
            <%= label_tag :home_district, Client.human_attribute_name('home_district'), class:"col-sm-2 col-form-label fw-bold" %>
            <div class="col-sm-2">
              <%= label_tag :home_district, @client.home_district, class:"form-control-plaintext" %>
            </div>

            <%= label_tag :home_city, Client.human_attribute_name('home_city'), class:"col-sm-1 col-form-label fw-bold" %>
            <div class="col-sm-2">
              <%= label_tag :home_city, @client.home_city, class:"form-control-plaintext" %>
            </div>
          </div>

          <div class="row">
            <%= label_tag :home_state, Client.human_attribute_name('home_state'), class:"col-sm-2 col-form-label fw-bold" %>
            <div class="col-sm-2">
              <%= label_tag :home_state, @client.home_state, class:"form-control-plaintext" %>
            </div>

            <%= label_tag :home_zip, Client.human_attribute_name('home_zip'), class:"col-sm-1 col-form-label fw-bold" %>
            <div class="col-sm-2">
              <%= label_tag :home_zip, @client.home_zip, class:"form-control-plaintext" %>
            </div>
          </div>

          <div class="row">
            <%= label_tag :home_link, Client.human_attribute_name('home_link'), class:"col-sm-2 col-form-label fw-bold" %>
            <div class="col-sm-2">
              <% url_link = @client.home_link %>
              <%= link_to url_link.truncate(60), url_link, target: "_blank"  %>
            </div>
          </div>

        </div>
      </div>

      <div class="tab-pane fade" id="billing_address">
 
        <div class="m-3 row g-3">
          <div class="row">
            <%= label_tag :billing_address, Client.human_attribute_name('billing_address'), class:"col-sm-2 col-form-label fw-bold" %>
            <div class="col-sm-2">
              <%= label_tag :billing_address, @client.billing_address + ', ' + @client.billing_number, class:"form-control-plaintext" %>
            </div>
          </div>

          <div class="row">
            <%= label_tag :billing_complement, Client.human_attribute_name('billing_complement'), class:"col-sm-2 col-form-label fw-bold" %>
            <div class="col-sm-2">
              <%= label_tag :billing_complement, @client.billing_complement, class:"form-control-plaintext" %>
            </div>
          </div>

          <div class="row">
            <%= label_tag :billing_district, Client.human_attribute_name('billing_district'), class:"col-sm-2 col-form-label fw-bold" %>
            <div class="col-sm-2">
              <%= label_tag :billing_district, @client.billing_district, class:"form-control-plaintext" %>
            </div>

            <%= label_tag :billing_city, Client.human_attribute_name('billing_city'), class:"col-sm-1 col-form-label fw-bold" %>
            <div class="col-sm-2">
              <%= label_tag :billing_city, @client.billing_city, class:"form-control-plaintext" %>
            </div>
          </div>

          <div class="row">
            <%= label_tag :billing_state, Client.human_attribute_name('billing_state'), class:"col-sm-2 col-form-label fw-bold" %>
            <div class="col-sm-2">
              <%= label_tag :billing_state, @client.billing_state, class:"form-control-plaintext" %>
            </div>

            <%= label_tag :billing_zip, Client.human_attribute_name('billing_zip'), class:"col-sm-1 col-form-label fw-bold" %>
            <div class="col-sm-2">
              <%= label_tag :billing_zip, @client.billing_zip, class:"form-control-plaintext" %>
            </div>
          </div>

          <div class="row">
            <%= label_tag :billing_link, Client.human_attribute_name('billing_link'), class:"col-sm-2 col-form-label fw-bold" %>
            <div class="col-sm-2">
              <% url_link = @client.billing_link %>
              <%= link_to url_link.truncate(60), url_link, target: "_blank"  %>
            </div>
          </div>

        </div>

      </div>

      <div class="tab-pane fade" id="references">

        <div class="m-3 row g-3">

          <div class="row">
            <%= label_tag :references_one_name, Client.human_attribute_name('references_one_name'), class:"col-sm-1 col-form-label fw-bold" %>
            <div class="col-sm-2">
              <%= label_tag :references_one_name, @client.references_one_name, class:"form-control-plaintext" %>
            </div>

            <%= label_tag :references_one_origin, Client.human_attribute_name('references_one_origin'), class:"col-sm-1 col-form-label fw-bold" %>
            <div class="col-sm-2">
              <%= label_tag :references_one_origin, @client.references_one_origin, class:"form-control-plaintext" %>
            </div>

            <%= label_tag :references_one_phone, Client.human_attribute_name('references_one_phone'), class:"col-sm-1 col-form-label fw-bold" %>
            <div class="col-sm-2">
              <%= label_tag :references_one_phone, @client.references_one_phone, class:"form-control-plaintext" %>
            </div>
          </div>

          <div class="row">
            <%= label_tag :references_two_name, Client.human_attribute_name('references_two_name'), class:"col-sm-1 col-form-label fw-bold" %>
            <div class="col-sm-2">
              <%= label_tag :references_two_name, @client.references_two_name, class:"form-control-plaintext" %>
            </div>

            <%= label_tag :references_two_origin, Client.human_attribute_name('references_two_origin'), class:"col-sm-1 col-form-label fw-bold" %>
            <div class="col-sm-2">
              <%= label_tag :references_two_origin, @client.references_two_origin, class:"form-control-plaintext" %>
            </div>

            <%= label_tag :references_two_phone, Client.human_attribute_name('references_two_phone'), class:"col-sm-1 col-form-label fw-bold" %>
            <div class="col-sm-2">
              <%= label_tag :references_two_phone, @client.references_two_phone, class:"form-control-plaintext" %>
            </div>
          </div>

          <div class="row">
            <%= label_tag :references_three_name, Client.human_attribute_name('references_three_name'), class:"col-sm-1 col-form-label fw-bold" %>
            <div class="col-sm-2">
              <%= label_tag :references_three_name, @client.references_three_name, class:"form-control-plaintext" %>
            </div>

            <%= label_tag :references_three_origin, Client.human_attribute_name('references_three_origin'), class:"col-sm-1 col-form-label fw-bold" %>
            <div class="col-sm-2">
              <%= label_tag :references_three_origin, @client.references_three_origin, class:"form-control-plaintext" %>
            </div>

            <%= label_tag :references_three_phone, Client.human_attribute_name('references_three_phone'), class:"col-sm-1 col-form-label fw-bold" %>
            <div class="col-sm-2">
              <%= label_tag :references_three_phone, @client.references_three_phone, class:"form-control-plaintext" %>
            </div>
          </div>

        </div>
      </div>
    </div>

    <%= link_to t('edit'), edit_client_path(@client) %> |
    <%= link_to t('back'), clients_path %>
  </div>

  </div>
</div>




