
<div class="row">
  <div class="col-xl-4 col-md-4 mb-4">
    <div class="card border-secondary mb-3" style="max-width: 22rem;">
      <div class="card-header"><%= t(".total_billing") %></div>
      <div class="card-body text-secondary">
        <div class="d-flex justify-content-between">
          <div>
            Total Diária: <%= ItemAdvance.total_diaria(current_user.city_id) %> <br /> 
            Total Cobrado: <%= ItemAdvance.total_cobrado(current_user.city_id) %> 
          </div>

          <div>
            </a>
            <%= link_to "Lançar no caixa", launch_current_accounts_path(price: "#{ItemAdvance.total_cobrado(current_user.city_id)}"), class: "btn btn-outline-primary", style: "none-decoration" %>
          </div>
        </div>
        
      </div>
    </div>
  </div>  

  <div class="col-xl-4 col-md-4 mb-4">
    <div class="card border-secondary mb-3" style="max-width: 22rem;">
      <div class="card-header"><%= t(".total") %></div>
      <div class="card-body text-secondary">
        Entradas:   <%= CurrentAccount.total_credito(current_user.city_id) %> <br />
        Saidas  :   <%= CurrentAccount.total_debito(current_user.city_id) %> <br />
      </div>
    </div>
  </div>  

  <div class="col-xl-4 col-md-4 mb-4">
    <div class="card border-secondary mb-3" style="max-width: 22rem;">
      <div class="card-header"><%= t(".total_balance") %></div>
      <div class="card-body text-secondary">
        Anterior:   <%= CurrentAccount.saldo_anterior(current_user.city_id) %> <br />
        Diario  :   <%= CurrentAccount.saldo(current_user.city_id) %> <br />
      </div>
    </div>
  </div>  

</div>

<% @item_advances.each do |item| %> 
   <% if item.date_payment.nil? %>
      <div class="card mb-3" style="max-width: 22rem; border-left: 3px solid --bs-danger;">
        <div class="card-header text-bg-danger"><%= link_to item.client.name, edit_item_advance_path(item), style: 'text-decoration: none; color: white' %></div>
        <div class="card-body">
          <% url_link = item.advance.client.billing_link %>

          <div class="d-flex flex-row justify-content-between align-items-center">
            <div>
              <div>Venc: <%= date_br(item.due_date) %></div>
              <div>Pgto: <%= date_br(item.date_payment) %></div>
            </div>
            
            <div>
              <div>Valor: <%= item.price.to_f %></div>
              <div>Pago: <%= item.value_payment.to_f %></div>
            </div>
            <div>
              <%= link_to "<i class=\"bi bi-geo-alt lg\"></i>".html_safe, url_link, style:"font-size:32px;", target: "_blank"  %>
            </div>
          </div>          
        </div>
      </div>

      <% else %>

      <div class="card mb-3" style="max-width: 22rem; border-left: 3px solid --bs-info;">
        <div class="card-header text-bg-info"><%= item.client.name %></div>
        <div class="card-body">
          
          <div class="d-flex flex-row justify-content-between align-items-center">
            <div>
              <div>Venc: <%= date_br(item.due_date) %></div>
              <div>Pgto: <%= date_br(item.date_payment) %></div>
            </div>
            
            <div>
              <div>Valor: <%= item.price.to_f %></div>
              <div>Pago: <%= item.value_payment.to_f %></div>
            </div>
          </div>          
          
        </div>
      </div>
   <% end %>
<% end %>